@import 'tailwindcss';

@config "../../tailwind.config.ts";

body {
    background-color: #fafafa;
    color: #101010;
}

@layer utilities {
    .container-custom {
        @apply max-w-277.5 mx-auto px-6;
    }

    .animate-fade-in-up {
        animation: fadeInUp 0.8s ease-out forwards;
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
